html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote {
	margin: 0px;
	padding: 0px;
}

/*--------ezDing------------*/
.ezding{
	width:305px;
	height:320px;
	text-align:center;
	background:url(/pages/iframe/images/chinatimes_web/cinidx-ezding-bgn.jpg) no-repeat left top;
	padding:60px 0 0;
	position:relative;
}
.ezding input{
	width:120px;
	height:22px;
	margin:5px auto 0;
	background:url(/pages/iframe/images/chinatimes_web/cinidx-ezding-btn.jpg) no-repeat center top;
	border:#45adbc 1px solid;
	text-indent:-9999px;
}
.ezding select{
	width:200px;
	margin-top:5px;
}
.ezding .cservice a{
	width:73px;
	height:26px;
	top:0;
	right:0;
	text-indent:-9999px;
	position:absolute;
}